.header {
    height: 70px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 70px;
      width: 70px;
      padding: 10px 25px;
      .logo {
        width: 51px;
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        font-size: 1.3em;
        font-weight: 700;
        padding: 10px 25px;
        cursor: pointer;
      }
    }
  }